  <form class='score_form' action="/course/<%= course.id %>/add" method='post'>
    <input type='number' placeholder='Add Score' name='strokes'/><br>
    <input type='submit' name="Submit">
  </form>
