<div class="add_score">
  <form id='score_form' action="/course/<%= course.id %>/add" method='post'>
    <input type='number' placeholder='score' name='strokes'/><br>
    <input type='submit' name="Submit">
  </form>
</div>
