<div class="del_score">
  <form id='score_form' action="/score/<%= score.id %>/delete" method='post'>
    <input type='hidden' name='_method' value = 'delete'>
    <input type='number' value='<%= score.strokes %>' name='strokes'/><br>
    <input type='submit' name="delete">
  </form>
</div>
