<p>Please enter your details below</p>
<form id='signup' action='/auth/signup' method='post'>
  <input type="text" placeholder="username" name='username'/><br>
  <input type='password' placeholder='password' name='password'/><br>
  <input type='submit' value='Submit' />
</form>
