<div id='course-details'>
  Name: <%= course.name %><br>
  Course Rating: <%= course.course %><br>
  Slope Rating: <%= course.slope %><br>
  <BR><BR>
  <a href='/course/<%=course.id%>/add'>Add score</a>
</div
