<div class='find_course'>
  <form id='finder' action'/course/find' method='post'>
    <input type='text' placeholder='Enter here' name='query'/><br>
    <input type='submit' name='Find'/><br>
  </form>
</div>
