<div class='new_course'>
  <form id='course_form' action'/course/new' method='post'>
    <input type='text' placeholder='Name' name='name'/><br>
    <input type='number' placeholder='Course Rating' name='course'/></br>
    <input type='number' placeholder='Slope Rating' name='slope'/></br>
    <input type='submit' name='Save'/><br>
  </form>
</div>
