<div class="course_details">
  <h1><%= course.name %></h1>
  <div class="handicap">
    Handicap: <%= handicap %>
  </div>
    <div class="all_scores">
      <% scores.each do |score| %>
        <div class="score">
          <%= erb :'score/_eachscore', locals:{score: score} %>
        </div>
      <% end %>
    </div>
    <br>
  <%= erb :'score/_add', locals:{course: course} %>
</div>
