<div class="course_details">
  <h1><%= course.name %></h1>
  <div class="handicap">
    Handicap: <%= handicap %>
  </div>
    <div class="all_scores">
      <table>
        <% scores.each do |score| %>
          <div class="score">
            <%= erb :'score/_eachscore', locals:{score: score} %>
          </div>
        <% end %>
      </table>
    </div>
    <br>
  <%= erb :'score/_add', locals:{course: course} %>
</div>
